/* CONSTS */
:root {
    --header-height: 60px;
    --footer-height: 160px;
}

/* Common */
.page-container {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding-top: 1rem;
}

/* Pages */
.pagination .page-item .page-link {
    color: var(--bs-gray-300);
    border: none;
}

.pagination .page-item.active .page-link {
    color: var(--bs-dark-bg-subtle);
    background-color: var(--bs-gray-300);
}

/* NavBar */
.navbar {
    height: var(--header-height);
}

.logo-link {
    text-decoration: none;
    margin-right: 1rem;
}

.navbar .navbar-nav {
    color: var(--bs-white);
}

.logo-text {
    font-family: "Dr Sugiyama", cursive;
    font-weight: 700;
}

.logo-md .logo-text {
    font-size: 32px;
}

.logo-sm .logo-text {
    font-size: 18px;
}

.logo-xl .logo-text {
    font-size: 64px;
}

/* TypeBar */
.list-group .list-group-item {
    cursor: pointer;
    border: none;
}

.list-group .list-group-item:not(.active):hover {
    background-color: var(--bs-gray-900);
}

.list-group .list-group-item.active {
    cursor: auto;
}

.all-types-btn {
    font-weight: 500;
}

/* DeviceItem */
.card.device-card {
    cursor: pointer;
    width: 150px;
}

.device-card:hover img {
    transition: all 0.2s;
    transform: scale(1.05);
}

/* BrandBar */
.brand-card {
    align-items: center;
    cursor: pointer;
    min-width: 80px;
    width: auto;
    padding: 8px 8px;
    margin: 0 4px 4px 0;
}

.brand-card:not(.border-dark):hover {
    background-color: var(--bs-gray-200);
}

.all-brands-btn {
    font-weight: 500;
}

/* Footer */
.footer {
    background-color: var(--bs-gray-900);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    width: 100%;
    min-height: var(--footer-height);
    position: relative;
    bottom: 0;
}

.socials {
    justify-content: center;
    padding: 2rem 0;
}

.footer a {
    text-decoration: none;
    color: var(--bs-white);
    width: auto;
    margin-right: 1rem;
}

.footer a:hover {
    color: var(--bs-gray-400);
}

.footer-copyright {
    color: var(--bs-white);
    padding: 20px 0;
    font-size: smaller;
}

/* Notification */
.notification {
    position: absolute;
    z-index: 10;
    bottom: 5%;
    left: 20px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
    width: 100%;
    max-width: 400px;
    height: 75px;
    border-radius: 5px;
    background-color: #ccdfff;
    color: #000030;
}

.notification.danger {
    background-color: #ffcccc;
    color: #300000;
}

.notification.success {
    background-color: #ccffcc;
    color: #003000;
}

.notification-text {
    padding: 4px 12px;
    font-weight: 600;
    align-self: center;
}

.notification-delete {
    background-color: transparent;
    border: none;
    outline: none;
    align-self: flex-start;
}
