/* CONSTS */
:root {
    --header-height: 54px;
    --footer-height: 160px;
}

/* Common */
.page-container {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding-top: 1rem;
}

/* Pages */
.pagination .page-item .page-link {
    color: var(--bs-gray-300);
    border: none;
}

.pagination .page-item.active .page-link {
    color: var(--bs-dark-bg-subtle);
    background-color: var(--bs-gray-300);
}

/* NavBar */
.navbar .container a {
    color: var(--bs-gray-300);
    text-decoration: none;
    font-weight: 700;
}

.navbar .navbar-nav {
    color: var(--bs-white);
}

/* TypeBar */
.list-group .list-group-item {
    cursor: pointer;
    border: none;
}

.list-group .list-group-item:not(.active):hover {
    background-color: var(--bs-gray-900);
}

.list-group .list-group-item.active {
    cursor: auto;
}

.all-types-btn {
    font-weight: 500;
}

/* DeviceItem */
.card.device-card {
    cursor: pointer;
    width: 150px;
}

.device-card:hover img {
    transition: all 0.2s;
    transform: scale(1.05);
}

/* BrandBar */
.brand-card {
    align-items: center;
    cursor: pointer;
    min-width: 80px;
    width: auto;
    padding: 8px 8px;
    margin: 0 4px 4px 0;
}

.brand-card:not(.border-dark):hover {
    background-color: var(--bs-gray-200);
}

.all-brands-btn {
    font-weight: 500;
}

/* Footer */
.footer {
    background-color: var(--bs-gray-900);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    width: 100%;
    min-height: var(--footer-height);
    position: relative;
    bottom: 0;
}

.socials {
    justify-content: center;
    padding: 2rem 0;
}

.footer a {
    text-decoration: none;
    color: var(--bs-white);
    width: auto;
    margin-right: 1rem;
}

.footer a:hover {
    color: var(--bs-gray-400);
}

.footer-copyright {
    color: var(--bs-white);
    padding: 20px 0;
    font-size: smaller;
}
